apiVersion: v1
kind: PersistentVolume
metadata:
  name: announcement-pv-volume
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 50Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /data/announcement

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: announcement-pv-claim
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: announcement-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: announcement
  template:
    metadata:
      labels:
        app: announcement
    spec:
      containers:
        - name: announcement
          image: rexrider/ludotter:$IMAGE_TAG
          ports:
            - containerPort: 4000
          volumeMounts:
            - name: announcement-persistent-storage
              mountPath: /home/node/uploads
              readOnly: false
      securityContext:
        fsGroup: 2000
      imagePullSecrets:
        - name: regcred
      volumes:
        - name: announcement-persistent-storage
          persistentVolumeClaim:
            claimName: announcement-pv-claim

---

apiVersion: v1
kind: Service
metadata:
  name: announcement-service
spec:
  type: NodePort
  selector:
    app: announcement
  ports:
    - name: announcement
      port: 4002
      targetPort: 4002